@model Music.Models.Album
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<ul>
    <li>Title:@Model.Title</li>
    <li>AlbumArtUrl:@Model.AlbumArtUrl</li>
    <li>AlbumId：@Model.AlbumId</li>
    <li>Artist：@Model.Artist</li>
    <li>ArtistId：@Model.ArtistId</li>
    <li>Genre：@Model.Genre</li>
    <li>GenreId：@Model.GenreId</li>
    <li>Price：$@Model.Price</li>
</ul>

